{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
<link rel="stylesheet" href="{% static 'screening_tests/css/style.css' %}" />
<title>EDUCOVID - Uji Screening</title>
{% endblock additional-styles %}

{% block content %}

<section class="container text-center" id="test-main">
    <h2 id="uji-judul" class="mb-3">Uji Screening</h2>
    
    <div id="test-form" class="text-left">
        <div id="form-gejala-obj">
            <form method="POST">
                {% csrf_token %} {% for form in form_gejala %}
                    <div class="form-group">
                        {{ form.label }}
                        <div class="">
                            {% for choice in form %}
                            <span class="radio ml-5">{{ choice.tag }}</span>
                            {{ choice.choice_label }}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center">
                    <button class="btn btn-danger" type="submit">Submit</button>
                </div>
                </div>
            </form>
        </div>

    </div>
</section>

{% endblock content %}