{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>EDUCOVID - About Us</title>
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Kritik dan Saran?</h1> 
    <div class="container-fluid" id="opinion">
        <form method="POST" action="{% url 'aboutUs:aboutUs' %}">
            {% csrf_token %}
            {{ form }}
            <br>
            <br><input type="submit" id="submit">
        </form>
        <br>
        <br>
        <br>
        <br>
        <!-- <table class="container">
            {% for a in kss %}
            <td>
             <p id="warna">{{a.kritik_saran}}</p>
            </td>
            {% endfor %}
        </table> -->
        <div class="container">
            {% for a in kss %}
             <p id="warna">{{a.kritik_saran}}</p>
            {% endfor %}
        </div>
    </div>

    <svg viewBox = "0 0 1350 200">
        <text x="50%" y="90%" fill="black" text-anchor="middle">
            ABOUT US
        </text>
    </svg>
    <h5>EDUCOVID merupakan website edukasi mengenai virus Covid-19 yang saat ini sedang mewabah di Indonesia dan hampir seluruh dunia. Pada website ini, user akan memperoleh  informasi umum seputar Covid-19, seperti definisi, gejala, cara penularan, dan cara pencegahan virus Covid-19. Selain itu, EDUCOVID juga memiliki halaman yang berisi daftar rumah sakit dari berbagai daerah yang menangani pasien Covid-19 beserta alamat dan nomor teleponnya.</h5>
    <p id="team">Tim Developer</p>
    <br>
    <div class="animated-text">
        <div class="line">Najwa Lathifah</div>
        <div class="line">Muhammad Fayaad</div>
        <div class="line">Yasyfa Azkaa</div>
        <div class="line">Aisyah Indonesia</div>
        <div class="line">Beltsazar Anugrah</div>
    </div>
    <br>
    <br>
    <img src="{% static 'photos/team.png' %}" class="img-fluid" alt="Responsive image">
{% endblock %}