{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'rs_rujukan.css' %}">
	<title>EDUCOVID - RS Rujukan</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<h1 class="text-center m-5 judul">Daftar Rumah Sakit Rujukan</h1>
	
	<form class="searchbar" action="{% url 'rs_rujukan:index' %}" method="get">
		<h5>Cari :
  		<input name="f" type="text" placeholder="Nama Rumah Sakit...">
  		</h5>
	</form>

	<br>
	{% if data %}
	<table class="table">
	    <thead class="thead">
	        <tr class="trowhead">
	            <th style="width: 1%">No</th>
	            <th style="width: 25%">Nama Rumah Sakit</th>
	            <th style="width: 12%">Provinsi</th>
	            <th>Alamat</th>
	            <th style="width: 12%">Telepon</th>
	        </tr>
	    </thead>
	    <tbody class="tbody">
	    {% for item in data %}  
	        <tr class="trow">        
	            <td scope="row">{{ forloop.counter }}</td>
	            <td>{{ item }}</td>
	            <td>{{ item.provinsi }}</td>
	            <td>{{ item.alamat }}</td>
	            <td>{{ item.telepon }}</td>
	        </tr>    
	    {% endfor %}
	    </tbody>
    </table>

    {% else %}
    <h1 class="text-center notfound">Data tidak ditemukan !</h1>
    {% endif %}
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}