:root {
    --base-font-size: 16px;
    --dark-green: #457B9D;
    --light-green: #A8DADC;
    --pale-green: #F1FAEE;
    --red: #E63946;
}

body {
    background-color: var(--pale-green) !important;
}

#title-card {
    background-color: var(--red) !important;
}

#title {
    color: white !important;
}

thead {
    background-color: var(--dark-green);
}

thead tr th {
    color: white;
}

tbody {
    background-color: var(--light-green);
}

tbody tr:hover {
    background-color: var(--pale-green) !important;
}
