/* ===== App  wide ===== */
body {
    background-color: #A8DADC;
}

/* ===== Test page ===== */

#test-main {
    padding-top: 2rem;
}

#uji-judul {
    font-weight: bold;
}

#test-form {
    background-color: #457B9B;
    padding: 2.3rem;
    border-radius: 12.5px;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#test-form ul {
    list-style-type: none;
}


/* ==== Result page ==== */

#res-main {
    padding-top: 2rem;
}

#form-gejala-obj {
    margin-left: auto;
    margin-right: auto;
}

/* #high-risk {
    background-color: red;
    color: whitesmoke;
}


#med-risk {
    background-color: orange;
    color: whitesmoke;
}

#low-risk {
    background-color: yellow; 
    color: whitesmoke;  
}

#zero {
    background-color: green;
    color: whitesmoke;
} */