{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
<link rel="stylesheet" href="{% static 'covid_count/styles.css' %}">
<link rel="stylesheet" href="{% static 'covid_count/table_styles.css' %}">
<title>EDUCOVID - Data</title>
{% endblock %}

{% block content %}
<div id = "page-wrapper">
    <div id = "title-card" class = "card container text-center bold my-3 py-3">
    <span id = "title"> COVID-19 Track </span>
    </div>
    <div class = "container my-3 py-3">
    <table class = "table" id = "table">
        <thead id = "table-header">
            <th scope = "col" class = "table-column">
            Waktu
            </th>
            <th scope = "col" class = "table-column">
            Terkonfirmasi
            </th>
            <th scope = "col" class = "table-column">
            Meninggal
            </th>
            <th scope = "col" class = "table-column">
            Sembuh
            </th>
            <th scope = "col" class = "table-column">
            Aktif
            </th>
        </thead>
        <tbody>
        {% for entry in database %}
        <tr class = "table-row">
            <th scope = "row" class = "table-column">
            {{ entry.date_accessed }}
            </th>
            <td class = "table-column">
            {{ entry.confirmed }}
            </td>
            <td class = "table-column">
            {{ entry.deaths }}
            </td>
            <td class = "table-column">
            {{ entry.recovered }}
            </td>
            <td class = "table-column">
            {{ entry.active }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}