{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'edukasi/style.css' %}">
    <title>EDUCOVID - Edukasi</title>
{% endblock %}
{% block content %}
    <div class="container-fluid" id="definition">
        <h3>Apa itu COVID-19?</h3>
        <div class="container" id="definition_inside">
            <h6>COVID-19 adalah penyakit yang disebabkan oleh jenis coronavirus baru bernama SARS-CoV-2 dan  
                dilaporkan pertama kali di Wuhan, Tiongkok, pada bulan Desember tahun 2019. 
                COVID-19 telah dinyatakan sebagai pandemi oleh WHO karena penyebarannya yang begitu cepat ke berbagai negara di dunia.</h6>
        </div>
    </div>

    <div class="container-fluid" id="transmission_symptoms">
        <div class="grid-container">
            <div class="grid-child transmission">
                <h3>Cara Penularan</h3>
                <h6>1️⃣ Terkena tetesan cairan yang berasal dari batuk dan bersin</h6>
                <h6>2️⃣ Kontak pribadi seperti menyentuh atau berjabat tangan</h6>
                <h6>3️⃣ Menyentuh benda yang ternyata terdapat virus di permukaannya</h6>
            </div>
            <div class="grid-child symptoms">
                <h3>Gejala</h3>
                <h6>1️⃣ Demam >38 derajat celcius</h6>
                <h6>2️⃣ Batuk, pilek</h6>
                <h6>3️⃣ Letih, lesu</h6>
                <h6>4️⃣ Sakit tenggorokan</h6>
                <h6>5️⃣ Gangguan pernapasan</h6>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="prevention">
        <h3>Cara Pencegahan</h3>
        <div class="row">
            <div class="col">
                <div class="container-dark">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2707/2707436.svg">
                    <h6>Mencuci tangan secara benar dan teratur dengan menggunakan sabun</h6>
                </div>
            </div>
            <div class="col">
                <div class="container-light">
                    <img src="https://cdn0.iconfinder.com/data/icons/coronavirus-3/64/Coronavirus_wear_a_mask_16-512.png">
                    <h6>Gunakan masker dengan benar hingga menutupi hidung dan mulut jika keluar rumah</h6>
                </div>
            </div>
            <div class="col">
                <div class="container-dark">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2750/2750393.svg">
                    <h6>Menjaga jarak sosial setidaknya 2 meter ketika sedang bersama orang lain</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="container-light">
                    <img src="https://images.vexels.com/media/users/3/193268/isolated/preview/ff230b5ac73e6067347f963d602f3365-covid-19-symptom-character-cough-elbow-by-vexels.png">
                    <h6>Tutup mulut saat batuk menggunakan bagian dalam siku tangan</h6>
                </div>
            </div>
            <div class="col">
                <div class="container-dark">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/1147/1147832.svg">
                    <h6>Memperbanyak konsumsi buah dan sayuran atau makanan bergizi lain</h6>
                </div>
            </div>
            <div class="col">
                <div class="container-light">
                    <img src="https://cdn3.iconfinder.com/data/icons/social-distancing-1/512/avoid-crowded-place-people-coronavirus-512.png">
                    <h6>Menghindari keramaian dan sebisa mungkin mengurangi aktivitas di tempat umum</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="opinion">
        <h3>Bagaimana pendapat anda tentang COVID-19?</h3>
        <form method="POST" action="{% url 'edukasi:edukasi' %}">
            {% csrf_token %}
            {{ form }}
            <br><input type="submit" id="submit">
        </form>

        <div class="container-red">
            <table>
                {% for opinion in opinions %}
                <tr>
                    <td>{{ opinion.opini }}</td>
                </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</body>
{% endblock %}