body {
    margin: 0;
}

#definition {
    background-color: #A8DADC;
    padding-top: 30px;
    padding-bottom: 60px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #1D3557;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

#definition_inside {
    background-color: #457B9D;
    border-radius: 25px;
    width: 50%;
}

#definition_inside h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: white;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

#transmission_symptoms {
    background-color: #E63946;
    padding-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 30px;
    text-align: center;
}

#transmission_symptoms h6 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: left;
    padding: 5px 5px 5px 5px;
}

#prevention, #opinion {
    background-color: #A8DADC;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
    text-align: center;
}

.row {
    margin-bottom: 25px;
}

.container-dark {
    text-align: center;
    background-color: #457B9D;
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container-light {
    text-align: center;
    background-color: #F1FAEE;
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    color: #1D3557;
}

img {
    max-width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

#opinion h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

input {
    border: none;    
}

#submit {
    border: #1D3557;
    margin-top: 15px;
    background-color: #457B9D;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 150px;
    margin-bottom: 80px;
}

#opinion .container-red {
    background-color: #E63946;
    font-family: 'Poppins', sans-serif;
    color: #F1FAEE;
    width: 60%;
    border-radius: 25px;
    display: inline-block;
}

table {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
