body{
	background-color: #A8DADC;
}
.container-fluid{
	width: 80%;
	overflow: auto;
	margin-right:10%;
}

.judul{
	color: #1D3557;
	text-shadow: 3px 3px #F1FAEE;
}
.searchbar{
	/*text-align: right;*/
	color: #1D3557;
}

input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #1D3557;
  border-radius: 15px;
  font-size: 16px;
  background-color: #F1FAEE;
  padding: 10px 15px;
  transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
  outline: none;
  width: 30%;
}
.thead{
	color: #F1FAEE;
	background-color: #457B9D;
}
.tbody{
	color: #1D3557;
	background-color: #F1FAEE;
}
.table thead th{
	border-bottom: none;
	border-top: none;
}
.trow{
	border-bottom: 3px solid #E63946;
}
.table td{
	padding: 20px;
}

.notfound{
	color: #1D3557;
}